.container{
    width: 250px;
    margin: auto;
}
input{
    display: block;
}
input[type='text']{
    border: 4px solid green;
}
input[type='submit']{
    background: none;
    border: 2px solid blueviolet;
    padding: 10px;
}
a[target]{
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    color: aquamarine;
}
a[target='_self']{
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    color: blue;
}
li:nth-child(4){
    color: coral;
    font-size: large;
}
li:nth-child(2){
    color: rgb(175, 216, 28);
    font-size: 38px;
}
/*target even elements takes value of n=0,1*/
li:nth-child(2n+0){
    background-color: rgb(216, 28, 69);
   
}
/*target odd elements*/
li:nth-child(2n+1){
    background-color: rgb(28, 172, 216);
   
}
li:nth-child(even){
    font-style: italic;
   
}