body{
    background-color: rgb(68, 59, 59);
    color: cornsilk;
    margin: 0;
    padding: 0;
    
}
.header::before{/*place this pseudo element before the menu*/
    content: " ";/* place empty content and put image as background */
    background: url(https://media.istockphoto.com/id/1166811262/photo/the-most-productive-work-environment-in-the-industry.jpg?s=1024x1024&w=is&k=20&c=NdpwrBhK1ZkkFDLKOXfRzZn8axhgf0Z_AXNjrlkm1ZE=) no-repeat center center/cover;
    position: absolute;/*align according to the document from top and left 0 0*/
    top: 0;
    left: 0px;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;/* push the image to the background, z-index will work bcz position is set here*/
}
.banner{
    display: flex;
    flex-direction: column;
    margin: 2px 220px;
    justify-content: center;
    height: 300px;
    align-items: center;
}
h1{
    font-size: 3rem;
    color: rgb(238, 234, 243);
}
p{
    text-align: center;
    font-size: 20px;
    color: rgb(255, 230, 230);
}

/*.banner::before{
    content: "Inserting content before banner";
}*/
/*.banner::after{
    content: "Inserting content after banner";
}*/
.navigation-items{
    display: flex;
    font-size: 20px;
}
.navigation-items li{
    list-style: none;
    padding: 30px 20px;
}