*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
.container{
    font-size: 10px;
    border: 3px solid blue;
    
     /*height: 612px;*/
     height: 100vh;
     width: 100vw;
}
#one{
   /* font-size: 2em;/*2em=2*font size of immidiate parent =2*10=20px*/
   /* padding: 3em;*/
}
#two{
  /*  font-size: 3rem;/*calculate based on root html element 3rem=3*20(html)=60px*/
  /*  padding: 2rem;/*calculate based on root html element 2rem=2*20(html)=40px*/
}