h2{
    background-color: chocolate;
    color: black;
    font-weight: bold;
    text-align: center;
}
/*Below is tagetting only those P tag which are any level child of li which are any level child of div */
/*div p{
    background-color: blue;
    color: white;
}*/
/*Below is tagetting only those P tag which are any level child of div */
/*div li p{
    background-color: blue;
    color: white;
}*/
/*Below is tagetting only those P tag which are direct child of div */
/*div > p{
    background-color: blue;
    color: white;
}*/
/*Below is tagetting only those P tag which are direct child of div OR p is right after div*/
div + p{
    background-color: yellow;
}